.construct-image{
    mix-blend-mode: darken;
}
.teamwork-image{
    position: relative;
    width: 100%;
}

.border-image{

background-repeat: no-repeat;
background-position: top center;
background-size: cover;
}