@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'components/joblists';
@import 'components/addjob';
@import 'components/dates';
@import 'components/image';
@import 'components/react-datepicker.css'; 
@import 'components/ourstory';


body {
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%,
     rgba(104, 127, 217, 0.0645831) 81.15%,
     rgba(104, 127, 217, 0.6) 100%);
    background-size: cover;
    margin: 0 auto;
}

h1,h2,h3,h4{
    font-family: 'PT Sans', sans-serif;
    color:#4E66C7;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

