<p>Hello from example</p>
<p id="msg">This is message from server:{{message}}</p>
<p id="param">This is param sent to server:{{param}}</p>
<p>React component will be shown below</p>
<div id="react-component-here"></div>
<script src="/bundle.js"></script>